#thank-you {
	 border: 2px solid black;
	 animation-duration: 1.5s;
	 animation-delay: 0.2s;
	 -webkit-animation-duration: 1.5s;
	 -webkit-animation-delay: 0.2s;
     -moz-animation-duration: 1.5s;
     -moz-animation-delay: 0.2s;
     -o-animation-duration: 1.5s;
     -o-animation-delay: 0.2s;
}
.thank-you {
	padding-top: 10%;
	padding-bottom: 10%;
}
#thank-you > h2 {
	padding-top: 2%;
}

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

p#banner-box {
	line-height: 0.7em;
	display: block;
	width: 90%;
}

p#banner-box small {
    font-size: 60%;
}

.banner p {
	margin: 20px 0;
}

.banner li{
	list-style-type: none;
}

.person-box{
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.person-box img{
    width: 100%;
}
.person-overlay{
    position: absolute;
    left: 0;
    bottom: 5px;
}
.person-overlay h4 {
    background: #41bedd;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 6px 12px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: -3px;
}
.person-overlay span {
    display: inline-block;
    background: #333;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 70px;
    padding: 0px 12px;
    color: #fff;
}
.person-col{
    margin-bottom: 30px;
}
.person-col .list-inline li a{
    font-size: 25px;
    color: #999;
    display: block;
}
.person-col .list-inline li a:hover{
    font-size: 25px;
    color:  #41bedd;
}

.affiliate-row li {
    padding: 10px 15px;
    border: 2px solid #eee;
    margin: 10px 15px;
}