

<% @private_services = data["contentful"]["service"].values.find_all{|serv|serv["sector"] == "public"}.group_by{|v|v["type"]} %>

<div style="height: 30px"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>Education and Training</h3>
            <ul>
                <% @private_services.each do |type, service_data| %>
                <li class="list-unstyled">
                    <h4><%= type %></h4>
                    <% service_data.each do |sd| %>
                        <ul>
                            <li>
                                <%= sd["name"] %>
                                <% if not sd["description"].nil? %>
                                    <ul>
                                        <li>
                                            <%= sd["description"] %>
                                        </li>
                                    </ul>
                                <%end%>
                            </li>
                        </ul>
                    <% end %>
                <% end %>
            <ul>
                   
        </div>
    </div>
</div>

<div style="height: 80px"></div>

