      <!-- FOOTER BEGIN --> 
       <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h3>Quick links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Latest courses</h3>
                        <ul class="list-unstyled aside-thumbs">
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-1.jpg" alt=""></a>
                                <div class="f-content">
                                    <h4>Admission open for 2016</h4>
                                    <span>Posted on Dec 21</span>
                                    <p>Lorem ispum dummy</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-2.jpg" alt=""></a>
                                <div class="f-content">
                                    <h4>Admission open for 2016</h4>
                                    <span>Posted on Dec 21</span>
                                    <p>Lorem ispum dummy</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Recent Post</h3>
                        <ul class="list-unstyled aside-thumbs">
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-3.jpg" alt=""></a>
                                <div class="f-content">
                                    <h3>Art seminar</h3>
                                    <p>Lorem Ipsum is simply dummy 
                                        text of the printing and typesetting 
                                    </p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-4.jpg" alt=""></a>
                                <div class="f-content">
                                    <h3>Art seminar</h3>
                                    <p>Lorem Ipsum is simply dummy 
                                        text of the printing and typesetting 
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Newsletter signup</h3>
                        <form>
                            <input type="email" class="form-control" placeholder="Email">
                            <button type="button" class="btn btn-blue">Signup</button>
                        </form>
                        <h3>Follow us</h3>
                        <ul class="list-inline social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->
        <!-- START FOOTER BOTTOM -->
    <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <span>&copy; 2016 College. All right reserved.</span>
              </div>
          </div>
      </div>
    </div>
    <!-- END FOOTER BOTTOM -->