      <!-- FOOTER BEGIN --> 
       <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Quick links</h3>
                        <ul class="list-unstyled">
                            <li><% link_to('/index.html') do %>Home<% end %></li>
                            <li><% link_to('/about.html') do %>About<% end %></li>
                            <li><% link_to('/partner.html') do %>Partners<% end %></li>
                            <li><% link_to('/contact.html') do %>Contact<% end %></li>
                        </ul>
                    </div>
                    <div class="col-md-4 white">
                                <h5>Contact us</h5>
                                <p><i class="fa fa-map-marker"></i> Address : 233/16 B East Adama Road 2nd Floor, Tesano, Accra, Ghana</p>
                                <p><i class="fa fa-phone-square"></i> Phone: +233.26.555.7932</p>
                                <p><i class="fa fa-envelope"></i> Email: info@excelsis.com</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Follow us</h3>
                        <ul class="list-inline social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->
        <!-- START FOOTER BOTTOM -->
    <div class="footer-bottom">
      <div class="container">
          <div class="row">
              <div class="col-sm-12 text-center">
                  <span class="white">&copy; <%= Time.now.year %> Excelsis. All right reserved.</span>
              </div>
          </div>
      </div>
    </div>
    <!-- END FOOTER BOTTOM -->