<div class="skills-events">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="section-title"><strong>Our</strong> Skills</h2> 
                        <div class="progress ">
                            <div class="progress-bar  yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                IT
                            </div>
                        </div>
                        <div class="progress ">
                            <div class="progress-bar  red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                commerce
                            </div>
                        </div>
                        <div class="progress ">
                            <div class="progress-bar  green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                biology
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar  blue" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                science
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="section-title"><strong>Campus</strong> events</h2> 
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="#">
                                    <img src="images/event1.jpg" class="img-responsive auto-img" alt="">
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="#">
                                    <img src="images/event2.jpg" class="img-responsive auto-img" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>