
        <div class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="center-title">
                            <h2>Our Testimonials</h2>
                            <div class="border-center"></div>
                        </div>
                    </div>

                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="testi-slider clearfix">
                            <ul class="slides">
                            <% data.contentful.testimonial.each do |id, testimonial| %>
                                <li>
                                    <img src="images/testi.jpg" class="img-circle auto-img" alt="">
                                    <strong><%= testimonial['name'] %></strong>
                                    <p>
                                        <%= testimonial['description'] %>
                                    </p>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>