        <div class="popular-sectors training center-title">
            <div class="container">
                    <h2 class="text-center">Training Categories</h2>
            <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                    <% link_to('/hr_learning_and_development.html') do %>
                    <i class="fa fa-money"></i>
                    <h3>HR Learning & Development</h3>
                    <% end %>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                    <% link_to('/education_and_training.html') do %>
                    <i class="fa fa-medkit"></i>
                    <h3>Education & Training</h3>
                    <% end %>
                    </div>
                    <div class="col-md-2"></div>
            </div>
            </div>
        </div>