        <div class="page-head">
            <div class="container">
                <h2>About us</h2>
            </div>
        </div>



        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="images/cap.png" class="img-responsive auto-img" alt="">
                    </div>
                    <%# data.contentful.misc.each do |id, misc| %>
						 <%#= misc['name'] %>
					<%# end %>
                    <div class="col-sm-7">
                        <h2 class="section-title"><strong><%= data.contentful['misc']['1tUaRti6H6iim6McsuWiAm']['name'].split.first %></strong> <%= data.contentful['misc']['1tUaRti6H6iim6McsuWiAm']['name'].split(' ')[1..-1].join(' ') %></h2>
                        <p>
                    	  	<%= data.contentful['misc']['1tUaRti6H6iim6McsuWiAm']['description'] %>
                        </p>
                        <a href="#" class="btn btn-gray">visit our campus</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="numbers">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-bar-chart"></i>
                        <h1>145</h1>
                        <p>Courses</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-graduation-cap"></i>
                        <h1>147000</h1>
                        <p>Students</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-list-alt"></i>
                        <h1>12</h1>
                        <p>Libraries</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-tags"></i>
                        <h1>21</h1>
                        <p>Events</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="our-teachers">
            <div class="container">
                <h2 class="section-title"><strong>Our</strong> Teachers</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                </p>
                <div style="height: 40px"></div>

                <div class="row">
                    <div class="col-sm-3 text-center">
                        <div class="person yellow">
                            <img src="images/t-1.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="person red">
                            <img src="images/t-2.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="person green">
                            <img src="images/t-3.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="person blue">
                            <img src="images/t-4.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="testi-slider clearfix">
                            <ul class="slides">
                                <li>
                                    <img src="images/testi.jpg" class="img-circle auto-img" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                                    </p>
                                </li>
                                <li>
                                    <img src="images/testi.jpg" class="img-circle auto-img" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                                    </p>
                                </li>
                                <li>
                                    <img src="images/testi.jpg" class="img-circle auto-img" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>