        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-inline">
                            <li><i class="fa fa-phone"></i> 1-800-12-430</li>

                        </ul>
                    </div>
                    <div class="col-sm-8 text-right">
                        <a href="#">
                            Admission open for 2016 click here to <span>Get form</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="about.html">About</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="teachers.html">Teachers</a></li>
                        <li><a href="reservation.html">reservation</a></li>
                        <li><a href="blog.html">blog</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        <div class="page-head">
            <div class="container">
                <h2>About us</h2>
            </div>
        </div>



        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="images/cap.png" class="img-responsive auto-img" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h2 class="section-title"><strong>Welcome</strong> at our College</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                        </p>
                        <p>
                            But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a href="#" class="btn btn-gray">visit our campus</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="numbers">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-bar-chart"></i>
                        <h1>145</h1>
                        <p>Courses</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-graduation-cap"></i>
                        <h1>147000</h1>
                        <p>Students</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-list-alt"></i>
                        <h1>12</h1>
                        <p>Libraries</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-tags"></i>
                        <h1>21</h1>
                        <p>Events</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="our-teachers">
            <div class="container">
                <h2 class="section-title"><strong>Our</strong> Teachers</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                </p>
                <div style="height: 40px"></div>

                <div class="row">
                    <div class="col-sm-3 text-center">
                        <div class="person yellow">
                            <img src="images/t-1.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="person red">
                            <img src="images/t-2.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="person green">
                            <img src="images/t-3.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <div class="person blue">
                            <img src="images/t-4.jpg" class="img-responsive auto-img" alt="">
                            <h4>Teacher name</h4>
                            <p>Position</p>
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="testi-slider clearfix">
                            <ul class="slides">
                                <li>
                                    <img src="images/testi.jpg" class="img-circle auto-img" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                                    </p>
                                </li>
                                <li>
                                    <img src="images/testi.jpg" class="img-circle auto-img" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                                    </p>
                                </li>
                                <li>
                                    <img src="images/testi.jpg" class="img-circle auto-img" alt="">
                                    <p>
                                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h3>Quick links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Latest courses</h3>
                        <ul class="list-unstyled aside-thumbs">
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-1.jpg" alt=""></a>
                                <div class="f-content">
                                    <h4>Admission open for 2016</h4>
                                    <span>Posted on Dec 21</span>
                                    <p>Lorem ispum dummy</p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-2.jpg" alt=""></a>
                                <div class="f-content">
                                    <h4>Admission open for 2016</h4>
                                    <span>Posted on Dec 21</span>
                                    <p>Lorem ispum dummy</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Recent Post</h3>
                        <ul class="list-unstyled aside-thumbs">
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-3.jpg" alt=""></a>
                                <div class="f-content">
                                    <h3>Art seminar</h3>
                                    <p>Lorem Ipsum is simply dummy 
                                        text of the printing and typesetting 
                                    </p>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#"><img src="images/thumb-4.jpg" alt=""></a>
                                <div class="f-content">
                                    <h3>Art seminar</h3>
                                    <p>Lorem Ipsum is simply dummy 
                                        text of the printing and typesetting 
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Newsletter signup</h3>
                        <form>
                            <input type="email" class="form-control" placeholder="Email">
                            <button type="button" class="btn btn-blue">Signup</button>
                        </form>
                        <h3>Follow us</h3>
                        <ul class="list-inline social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span>&copy; 2016 College. All right reserved.</span>
                    </div>
                </div>
            </div>
        </div>