<!DOCTYPE html>
<html>  
<head>
 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>Visio - Responsive Website Template</title>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">

<!-- ANIMATE -->
<link rel="stylesheet" href="assets/animate/animate.min.css" type="text/css">

<!-- WEB FONTS -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<!-- ICON FONTS -->
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"> 
<link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css" type="text/css"> 

<!-- GLOBAL STYLE -->
<link id="stylesheetGlobal" type="text/css" href="css/global-style-blue.min.css" rel="stylesheet" media="screen">
		<!-- CUSTOM STYLE -- Remove if not necessary -->
<link type="text/css" href="css/custom-style.css" rel="stylesheet">



<!-- ASSETS -->
<link rel="stylesheet" href="assets/owl-carousel/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="assets/owl-carousel/css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"> 

<!-- FAVICON -->
<link href="images/favicon.png" rel="icon" type="image/png">
</head>
<body>


<!-- MAIN WRAPPER -->
<div class="body-wrap">

    <div id="st-container" class="st-container">
        <nav class="st-menu st-effect-1" id="menu-1">
            <h3 class="st-menu-title">Menu</h3>
            <div class="nav">
                <ul>
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="team.html"><i class="fa fa-camera"></i>Our People</a></li>
                    <li><a href="hr-learning-development.html"><i class="fa fa-calendar"></i>HR Learning & Development</a></li>
                    <li><a href="education-training.html"><i class="fa fa-shopping-cart"></i>Education & Training</a></li>
                    <li><a href="contact-1.html"><i class="fa fa-shopping-cart"></i>Contact us</a></li>
                </ul>
            </div>      
        </nav>
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- HEADER -->
                    <div class="header" id="header"> 

        <!-- NAVBAR -->
        <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">     
            <div class="container relative">
                <div class="navbar-header">
                    <!-- LOGO -->
                    <a class="navbar-logo" href="index.html">
                        <img id="logoOne" src="images/logo/logo-1-a.png" class="hide">
                        <img id="logoTwo" src="images/logo/logo-1-b.png">
                    </a>

                    <!-- NAVBAR TOGGLE -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                                    <!-- SLIDEBAR TOGGLE -->
                    <button type="button" class="navbar-icon-btn btn-st-trigger" data-effect="st-effect-1">
                        <i class="fa fa-dedent"></i>
                    </button>
                </div>

                <div id="slidemenu">
                    <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                                 <!-- Navbar links -->
                        <li class="">
                            <a href="index.html">
                               <span>Home</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="team.html">
                               <span>Our People</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="hr-learning-development.html">
                               <span>HR Learning & Development</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="education-training.html">
                               <span>Education & Training</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="contact-1.html">
                               <span>Contact us</span>
                            </a>
                        </li>

                        <li class="dropdown-icon hidden-xs hidden-sm">
                            <a  href="#" class="btn-st-trigger ttip" data-effect="st-effect-1">
                                <span><i class="fa fa-bars"></i></span>
                            </a>
                        </li>                   
                    </ul>
                </div>
            </div>
        </nav>
</div>
                <!-- BREADCRUMB -->
                <div class="page-title style-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Contact</h2>
                            </div>
                            <div class="col-md-6">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Contact</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="mapCanvas" class="map-canvas"></div>

                <section class="slice sct-color-1 bb">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-title-wrapper style-1 v1">
                                    <h3 class="section-title left">
                                        <span>Contact form</span>
                                    </h3>
                                </div>
                                <p class="mb-20 mt-20">
                                Egestas himenaeos tincidunt est ante pulvinar eros consectetur justo potenti vitae pulvinar a platea suspendisse consectetur cras scelerisque pretium a ullamcorper in ullamcorper risus senectus litora.
                                </p>
                                
                                <form class="mt-20">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputName">Name</label>
                                                <input type="text" class="form-control input-lg" id="inputName" placeholder="Username">
                                                <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputEmail">Email</label>
                                                <input type="text" class="form-control input-lg" id="inputEmail" placeholder="Email">
                                                <span class="fa fa-envelope-o form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputPhone">Phone</label>
                                                <input type="text" class="form-control input-lg" id="inputPhone" placeholder="Phone">
                                                <span class="fa fa-phone form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputCountry">Country</label>
                                                <input type="text" class="form-control input-lg" id="inputCountry" placeholder="Country">
                                                <span class="fa fa-globe form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="5" placeholder="Additional info"></textarea>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-lg btn-base-1 mt-20">Send message</button>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <!-- Quick info -->
                                <div class="section-title-wrapper style-1 v1">
                                    <h3 class="section-title left">
                                        <span>Contact</span>
                                    </h3>
                                </div>
                                <ul class="list-style-1">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <span>5th Avenue, New York City US</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <span>contact@yourdomain.com</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>+10 724 1234 567</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-globe"></i>
                                            www.yourdomain.com
                                        </a>
                                    </li>
                                </ul>

                                <!-- Program -->
                                <div class="section-title-wrapper style-1 v1 mt-30">
                                    <h3 class="section-title left">
                                        <span>Business hours</span>
                                    </h3>
                                </div>
                                <ul class="list-style-1">
                                    <li>
                                        <strong>Monday-Friday:</strong>
                                        9am to 6pm
                                    </li>
                                    <li>
                                        <strong>Saturday:</strong>
                                        Closed
                                    </li>
                                    <li>
                                        <strong>Sunday:</strong>
                                        Closed
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Call to action  -->
                <section class="bg-base-2">
    <div class="cta-wrapper">
        <div class="container">
            <div class="row v-align-middle">
                <div class="col-sm-9">
                    <h1 class="text-normal">
                        <strong>Visio.</strong> Well done is better than well said. Wanna know why?
                    </h1>
                </div>
                <div class="col-sm-3">
                    <div class="cta-button">
                        <a href="#" class="btn-a btn-lg btn-1 btn-1a fa-long-arrow-right text-center">
                            Find out more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <footer class="footer style-2">
        <div class="container">
            <div class="row">                
                <div class="col-md-4">
                    <div class="col">
                       <h4>Links</h4>
                       <ul>
                            <li><a href="" title="Help center">Help center</a></li>
                            <li><a href="" title="Discussions">Discussions</a></li>
                            <li><a href="" title="Contact support">Contact support</a></li>
                            <li><a href="" title="Blog">Blog</a></li>
                            <li><a href="" title="Jobs">FAQ</a></li>
                        </ul>
                     </div>
                </div>
                
                <div class="col-md-4">
                    <div class="col">
                        <h4>Our Address</h4>
                        <ul>
                            <li><a href="" title="About">About</a></li>
                            <li><a href="" title="License informations">License informations</a></li>
                            <li><a href="" title="Terms">Terms</a></li>
                            <li><a href="" title="Jobs">Careers</a></li>
                            <li><a href="" title="Jobs">Contact</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="col">
                        <h4>Community</h4>
                        <ul>
                            <li><a href="" title="About">About</a></li>
                            <li><a href="" title="License informations">License informations</a></li>
                            <li><a href="" title="Terms">Terms</a></li>
                            <li><a href="" title="Jobs">Jobs</a></li>
                            <li><a href="" title="Jobs">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<div class="copyright style-1">
    <div class="container">   
            <div class="div-table v-middle">
                <div class="cell">
                    All rights reserved. Copyright &copy; 2015 <span class="company-rights">Devisio</span>
                </div>
                <div class="cell">
                    <div class="social-media style-2 v4 text-right">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook "></i>
                        </a>
                        <a href="#" class="google-plus">
                            <i class="fa fa-google-plus "></i>
                        </a>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest "></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>            </div>
        </div>
    </div><!-- END: st-pusher -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->

<!-- Required JSs -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>

<!-- Essential JSs -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/tooltip.js"></script>
<script src="js/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
<script src="js/bootstrap-extensions/bootstrap.slide-menu.js"></script>
<script src="js/bootstrap-extensions/bootstrap-validator.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/classie.js"></script>

<!-- Assets - Required -->
<script src="assets/parallax/parallax.min.js"></script>
<script src="assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="assets/waypoints/waypoints.min.js"></script>

<!-- Assets - Optional (keep what you need) -->
<!-- Sidebar transitions -->
<script src="js/sidebar-transitions/sidebar-transitions.js"></script>
<!-- Smooth scroll -->
<script src="js/jquery.smoothscroll.js"></script>
<!-- Media gallery view -->
<script src="assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<!-- Animated counter -->
<script src="assets/milestone-counter/jquery.countTo.js"></script>
<!-- Animated pie charts -->
<script src="assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<!-- Owl carousel - Touch enabled carousel -->
<script src="assets/owl-carousel/js/owl.carousel.min.js"></script>

<!-- Cross-browser responsivity scripts -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Google Analitycs JS -->
<script type="text/javascript" src="js/dvs.ga.js"></script>




<!-- PAGE RELATED SCRIPTS -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/google-maps/google-maps-default.js"></script>

<!-- App JS -->
<script src="js/dvs.app.js"></script>

</body>
</html> 