<div id="mapCanvas" class="map-canvas"></div>

                <section class="slice sct-color-1 bb">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-title-wrapper style-1 v1">
                                    <h3 class="section-title left">
                                        <span>Contact form</span>
                                    </h3>
                                </div>
                                <p class="mb-20 mt-20">
                                Egestas himenaeos tincidunt est ante pulvinar eros consectetur justo potenti vitae pulvinar a platea suspendisse consectetur cras scelerisque pretium a ullamcorper in ullamcorper risus senectus litora.
                                </p>
                                
                                <form class="mt-20">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputName">Name</label>
                                                <input type="text" class="form-control input-lg" id="inputName" placeholder="Username">
                                                <span class="fa fa-user form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputEmail">Email</label>
                                                <input type="text" class="form-control input-lg" id="inputEmail" placeholder="Email">
                                                <span class="fa fa-envelope-o form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputPhone">Phone</label>
                                                <input type="text" class="form-control input-lg" id="inputPhone" placeholder="Phone">
                                                <span class="fa fa-phone form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-icon">
                                                <label class="control-label sr-only" for="inputCountry">Country</label>
                                                <input type="text" class="form-control input-lg" id="inputCountry" placeholder="Country">
                                                <span class="fa fa-globe form-control-icon" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" rows="5" placeholder="Additional info"></textarea>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-lg btn-base-1 mt-20">Send message</button>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <!-- Quick info -->
                                <div class="section-title-wrapper style-1 v1">
                                    <h3 class="section-title left">
                                        <span>Contact</span>
                                    </h3>
                                </div>
                                <ul class="list-style-1">
                                    <li>
                                        <i class="fa fa-home"></i>
                                        <span>5th Avenue, New York City US</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <span>contact@yourdomain.com</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>+10 724 1234 567</span>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-globe"></i>
                                            www.yourdomain.com
                                        </a>
                                    </li>
                                </ul>

                                <!-- Program -->
                                <div class="section-title-wrapper style-1 v1 mt-30">
                                    <h3 class="section-title left">
                                        <span>Business hours</span>
                                    </h3>
                                </div>
                                <ul class="list-style-1">
                                    <li>
                                        <strong>Monday-Friday:</strong>
                                        9am to 6pm
                                    </li>
                                    <li>
                                        <strong>Saturday:</strong>
                                        Closed
                                    </li>
                                    <li>
                                        <strong>Sunday:</strong>
                                        Closed
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Call to action  -->
<section class="bg-base-2">
    <div class="cta-wrapper">
        <div class="container">
            <div class="row v-align-middle">
                <div class="col-sm-9">
                    <h1 class="text-normal">
                        <strong>Visio.</strong> Well done is better than well said. Wanna know why?
                    </h1>
                </div>
                <div class="col-sm-3">
                    <div class="cta-button">
                        <a href="#" class="btn-a btn-lg btn-1 btn-1a fa-long-arrow-right text-center">
                            Find out more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>