        <div class="page-head">
            <div class="container">
                <h2>Contact us</h2>
            </div>
        </div>
        <div class="map">
            <div id="map" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="get-in-touch">
            <div class="container">
                 <h2 class="section-title"><strong>Get</strong> in touch</h2>
                        <p class="lead">Contact us  to find our more about our courses</p>
                        <div style="height: 30px"></div>
                <div class="row">
                    <div class="col-md-6">
                       <%= partial "layouts/partials/contact" %>
                    </div>
                    <div class="col-sm-6">
                     
                        <div class="row">
                            <div class="col-sm-8">
                                <h5>Contact us</h5>
                                <p><i class="fa fa-map-marker"></i> Address : 233/16 B East Adama Road 2nd Floor, Tesano, Accra, Ghana</p>
                                <p><i class="fa fa-phone-square"></i> Phone: +233.26.555.7932</p>
                                <p><i class="fa fa-envelope"></i> Email: info@excelsis.com</p>
                                <div style="height: 20px"></div>
                                <h5>Opening hours</h5>
                                <p>Monday to Friday<br>9.00 AM to 6.00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>