   <% @public_services = data["contentful"]["service"].values.find_all{|serv|serv["sector"] == "public"}.group_by{|v|v["type"]} %>
    <section class="slice sct-color-1">
        <div class="container">
            <div class="section-title-wrapper style-1 v1 no-margin">
                <h3 class="section-title center">
                    <span>Education & Training</span>
                </h3>
            </div>

            <p class="text-center mb-30">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis<br> faucibus 
            eget quis lacus. Suspendisse sodales sed orci ac feugiat.
            </p>
        </div>
    </section>

    <% @public_services.each_with_index do |(type, service_data), index| %>
    <% if index.even? %>
        <section class="slice sct-color-1">
    <% else %>
        <section class="slice sct-color-2">
    <% end %>    
        <div class="container">
            <div class="row">
                <% if index.even? %>
                    <div class="col-md-6">
                        <img src="images/prv/block-img-1.jpg" class="img-responsive">                            
                    </div>
                <% end %>  
                <div class="col-md-6">
                    <div class="section-title-wrapper style-1 v1">
                        <h3 class="section-title section-title-sm left">
                            <span><%= type %></span>
                        </h3>
                    </div>
                    <% service_data.each do |sd| %>
                    <ul>
                        <li>
                            <%= sd["name"] %>
                            <% if not sd["description"].nil? %>
                                <ul>
                                    <li>
                                        <%= sd["description"] %>
                                    </li>
                                </ul>
                            <%end%>
                        </li>
                    </ul>
                    <% end %>
                    <a href="contact-1.html" class="btn btn-b-base-1 mt-20">Find out more</a>
                </div>
                <% if not index.even? %>
                    <div class="col-md-6">
                        <img src="images/prv/block-img-2.jpg" class="img-responsive">                            
                    </div>
                <% end %>  
            </div>
        </div>
    </section>
    <% end %>