<!DOCTYPE html>
<html>  
<head>
 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>Excelsis - Education & Training</title>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">

<!-- ANIMATE -->
<link rel="stylesheet" href="assets/animate/animate.min.css" type="text/css">

<!-- WEB FONTS -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<!-- ICON FONTS -->
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"> 
<link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css" type="text/css"> 

<!-- GLOBAL STYLE -->
<link id="stylesheetGlobal" type="text/css" href="css/global-style-blue.min.css" rel="stylesheet" media="screen">
		<!-- CUSTOM STYLE -- Remove if not necessary -->
<link type="text/css" href="css/custom-style.css" rel="stylesheet">



<!-- ASSETS -->
<link rel="stylesheet" href="assets/owl-carousel/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="assets/owl-carousel/css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"> 

<!-- FAVICON -->
<link href="images/favicon.png" rel="icon" type="image/png">
</head>
<body>


<!-- MAIN WRAPPER -->
<div class="body-wrap">

    <div id="st-container" class="st-container">
    <nav class="st-menu st-effect-1" id="menu-1">
        <h3 class="st-menu-title">Menu</h3>
        <div class="nav">
            <ul>
                <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="team.html"><i class="fa fa-camera"></i>Our People</a></li>
                <li><a href="hr-learning-development.html"><i class="fa fa-calendar"></i>HR Learning & Development</a></li>
                <li><a href="education-training.html"><i class="fa fa-shopping-cart"></i>Education & Training</a></li>
                <li><a href="contact-1.html"><i class="fa fa-shopping-cart"></i>Contact us</a></li>
            </ul>
        </div>      
    </nav>
    <div class="st-pusher">
        <div class="st-content">
            <div class="st-content-inner">
                <!-- HEADER -->
                <div class="header" id="header"> 

    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">     
        <div class="container relative">
            <div class="navbar-header">
                <!-- LOGO -->
                <a class="navbar-logo" href="index.html">
                    <img id="logoOne" src="images/logo/logo-1-a.png" class="hide">
                    <img id="logoTwo" src="images/logo/logo-1-b.png">
                </a>

                <!-- NAVBAR TOGGLE -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                                <!-- SLIDEBAR TOGGLE -->
                <button type="button" class="navbar-icon-btn btn-st-trigger" data-effect="st-effect-1">
                    <i class="fa fa-dedent"></i>
                </button>
            </div>

            <div id="slidemenu">
                <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                             <!-- Navbar links -->
                    <li class="">
                        <a href="index.html">
                           <span>Home</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="team.html">
                           <span>Our People</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="hr-learning-development.html">
                           <span>HR Learning & Development</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="education-training.html">
                           <span>Education & Training</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="contact-1.html">
                           <span>Contact us</span>
                        </a>
                    </li>

                    <li class="dropdown-icon hidden-xs hidden-sm">
                        <a  href="#" class="btn-st-trigger ttip" data-effect="st-effect-1">
                            <span><i class="fa fa-bars"></i></span>
                        </a>
                    </li>                   
                </ul>
            </div>
        </div>
    </nav>
</div>

    <section class="slice sct-color-1">
        <div class="container">
            <div class="section-title-wrapper style-1 v1 no-margin">
                <h3 class="section-title center">
                    <span>Education & Training</span>
                </h3>
            </div>

            <p class="text-center mb-30">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu libero scelerisque ligula sagittis<br> faucibus 
            eget quis lacus. Suspendisse sodales sed orci ac feugiat.
            </p>
        </div>
    </section>

    <section class="slice sct-color-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="images/prv/block-img-1.jpg" class="img-responsive">                            </div>
                <div class="col-md-8">
                     <div class="section-title-wrapper style-1 v1">
                        <h3 class="section-title section-title-sm left">
                            <span>24+ Loan Programme</span>
                        </h3>
                    </div>
                    <p>
                        <li>Business Administration Level 3 & 4</li>
                        <li>PTTLLS, DTTLLS</li>
                        <li>In Health and Social Care</li>
                        <li>IT Software development and Testing</li>
                    </p>    
                    <a href="contact-1.html" class="btn btn-b-base-1 mt-20">Find out more</a>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                     <div class="section-title-wrapper style-1 v1">
                        <h3 class="section-title section-title-sm left">
                            <span>16 – 18 Study programme</span>
                        </h3>
                    </div>
                    <p>
                        <li>Vocational Skills:- Business Admin, Customer Service, ITQ/ICT, Employability</li>
                        <li>Functional Skills:- Maths and English from E3 to GCSE level</li>
                    </p>    
                    <a href="contact-1.html" class="btn btn-b-base-1 mt-20">Find out more</a>
                </div>
                <div class="col-md-4">
                    <img src="images/prv/block-img-2.jpg" class="img-responsive">                            
                </div>
            </div>
        </div>
    </section>
    <section class="slice sct-color-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="images/prv/block-img-3.jpg" class="img-responsive">                            
                </div>
                <div class="col-md-8">
                     <div class="section-title-wrapper style-1 v1">
                        <h3 class="section-title section-title-sm left">
                            <span>Apprenticeship and Traineeships</span>
                        </h3>
                    </div>
                    <p>
                        <li>Recruitment</li>
                        <li>Employability and motivational training</li>
                        <li>End to end programme</li>
                    </p>    
                    <a href="contact-1.html" class="btn btn-b-base-1 mt-20">Find out more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="slice sct-color-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                     <div class="section-title-wrapper style-1 v1">
                        <h3 class="section-title section-title-sm left">
                            <span>Welfare (Back to work) programmes</span>
                        </h3>
                    </div>
                    <p>
                        <li>End to End programme</li>
                        <li>Employer Engagement</li>
                    </p>    
                    <a href="contact-1.html" class="btn btn-b-base-1 mt-20">Find out more</a>
                </div>
                <div class="col-md-4">
                    <img src="images/prv/block-img-2.jpg" class="img-responsive">                            
                </div>
            </div>
        </div>
    </section>

    <footer class="footer style-2">
        <div class="container">
            <div class="row">                
                <div class="col-md-4">
                    <div class="col">
                       <h4>Links</h4>
                       <ul>
                            <li><a href="" title="Help center">Help center</a></li>
                            <li><a href="" title="Discussions">Discussions</a></li>
                            <li><a href="" title="Contact support">Contact support</a></li>
                            <li><a href="" title="Blog">Blog</a></li>
                            <li><a href="" title="Jobs">FAQ</a></li>
                        </ul>
                     </div>
                </div>
                
                <div class="col-md-4">
                    <div class="col">
                        <h4>Our Address</h4>
                        <ul>
                            <li><a href="" title="About">About</a></li>
                            <li><a href="" title="License informations">License informations</a></li>
                            <li><a href="" title="Terms">Terms</a></li>
                            <li><a href="" title="Jobs">Careers</a></li>
                            <li><a href="" title="Jobs">Contact</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="col">
                        <h4>Community</h4>
                        <ul>
                            <li><a href="" title="About">About</a></li>
                            <li><a href="" title="License informations">License informations</a></li>
                            <li><a href="" title="Terms">Terms</a></li>
                            <li><a href="" title="Jobs">Jobs</a></li>
                            <li><a href="" title="Jobs">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<div class="copyright style-1">
    <div class="container">   
            <div class="div-table v-middle">
                <div class="cell">
                    All rights reserved. Copyright &copy; 2015 <span class="company-rights">Devisio</span>
                </div>
                <div class="cell">
                    <div class="social-media style-2 v4 text-right">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook "></i>
                        </a>
                        <a href="#" class="google-plus">
                            <i class="fa fa-google-plus "></i>
                        </a>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest "></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>            </div>
        </div>
    </div><!-- END: st-pusher -->
</div><!-- END: body-wrap -->

    <!-- SCRIPTS -->
    
<!-- Required JSs -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>

<!-- Essential JSs -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/tooltip.js"></script>
<script src="js/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
<script src="js/bootstrap-extensions/bootstrap.slide-menu.js"></script>
<script src="js/bootstrap-extensions/bootstrap-validator.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/classie.js"></script>

<!-- Assets - Required -->
<script src="assets/parallax/parallax.min.js"></script>
<script src="assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="assets/waypoints/waypoints.min.js"></script>

<!-- Assets - Optional (keep what you need) -->
<!-- Sidebar transitions -->
<script src="js/sidebar-transitions/sidebar-transitions.js"></script>
<!-- Smooth scroll -->
<script src="js/jquery.smoothscroll.js"></script>
<!-- Media gallery view -->
<script src="assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<!-- Animated counter -->
<script src="assets/milestone-counter/jquery.countTo.js"></script>
<!-- Animated pie charts -->
<script src="assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<!-- Owl carousel - Touch enabled carousel -->
<script src="assets/owl-carousel/js/owl.carousel.min.js"></script>

<!-- Cross-browser responsivity scripts -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Google Analitycs JS -->
<script type="text/javascript" src="js/dvs.ga.js"></script>




    <!-- App JS -->
    <script src="js/dvs.app.js"></script>

</body>
</html> 