---
title: Contentful Demo
---

<h1>Contentful Demo</h1>

<h2>Services</h2>
<ul>
<% data.contentful.service.each do |id, service| %>
 <li><%= service['name'] %></li>
<% end %>
</ul>

<h2>Services</h2>
<ul>
  <li></li>
</ul>