    <!DOCTYPE html>
    <html>  
    <head>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>Visio - Responsive Website Template</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- ANIMATE -->
    <link rel="stylesheet" href="assets/animate/animate.min.css" type="text/css">

    <!-- WEB FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

    <!-- ICON FONTS -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"> 
    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css" type="text/css"> 

    <!-- GLOBAL STYLE -->
    <link id="stylesheetGlobal" type="text/css" href="css/global-style-blue.min.css" rel="stylesheet" media="screen">
    		<!-- CUSTOM STYLE -- Remove if not necessary -->
    <link type="text/css" href="css/custom-style.css" rel="stylesheet">



    <!-- ASSETS -->
    <link rel="stylesheet" href="assets/owl-carousel/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="assets/owl-carousel/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"> 

    <!-- FAVICON -->
    <link href="images/favicon.png" rel="icon" type="image/png">
    <!-- Layer slider -->
    <link rel="stylesheet" href="assets/layerslider/css/layerslider.css" type="text/css">

    </head>
    <body>


    <!-- MAIN WRAPPER -->
    <div class="body-wrap">

        <div id="st-container" class="st-container">
        <nav class="st-menu st-effect-1" id="menu-1">
            <h3 class="st-menu-title">Menu</h3>
            <div class="nav">
                <ul>
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="team.html"><i class="fa fa-camera"></i>Our People</a></li>
                    <li><a href="hr-learning-development.html"><i class="fa fa-calendar"></i>HR Learning & Development</a></li>
                    <li><a href="education-training.html"><i class="fa fa-shopping-cart"></i>Education & Training</a></li>
                    <li><a href="contact-1.html"><i class="fa fa-shopping-cart"></i>Contact us</a></li>
                </ul>
            </div>      
        </nav>
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- HEADER -->
                    <div class="header" id="header"> 

    	<!-- NAVBAR -->
    	<nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">		
    		<div class="container relative">
    		    <div class="navbar-header">
    		    	<!-- LOGO -->
    		      	<a class="navbar-logo" href="index.html">
    		      		<img id="logoOne" src="images/logo/logo-1-a.png" class="hide">
    		      		<img id="logoTwo" src="images/logo/logo-1-b.png">
    		      	</a>

    		    	<!-- NAVBAR TOGGLE -->
    		      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
    					<span class="sr-only">Toggle navigation</span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    			    </button>

    			    			    <!-- SLIDEBAR TOGGLE -->
    			    <button type="button" class="navbar-icon-btn btn-st-trigger" data-effect="st-effect-1">
    					<i class="fa fa-dedent"></i>
    			    </button>
    		    </div>

                <div id="slidemenu">
            		<ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                               	 <!-- Navbar links -->
                        <li class="">
                            <a href="index.html">
                               <span>Home</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="team.html">
                               <span>Our People</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="hr-learning-development.html">
                               <span>HR Learning & Development</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="education-training.html">
                               <span>Education & Training</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="contact-1.html">
                               <span>Contact us</span>
                            </a>
                        </li>

                        <li class="dropdown-icon hidden-xs hidden-sm">
                        	<a  href="#" class="btn-st-trigger ttip" data-effect="st-effect-1">
                        		<span><i class="fa fa-bars"></i></span>
                        	</a>
                        </li>                  	
            		</ul>
            	</div>
            </div>
    	</nav>
    </div>
                    <!-- SLIDER -->
    <section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
        <div id="layerslider" style="width:100%;">  
            <!-- Slide 1 -->

            <!-- Slide 2 -->
            <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                <!-- slide background -->
                <img src="images/backgrounds/full-bg-4.jpg" class="ls-bg" alt="Slide background"/>
                
                 <!-- Center title -->
                <h3 class="ls-l title-lg text-uppercase text-center strong" style="width:100%; top:35%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                    Committed to Transformation.
                </h3>

                <!-- Center paragraph -->
                <p class="ls-l text-standard text-center" style="width: 900px; top: 50%; left: 50%;" data-ls="offsetxin:-250;offsetyin:-;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                    At Excelsis we are committed to making a difference in your world of performance, productivity and customer satisfaction.
                </p>

                <a href="about-1.html" class="btn btn-lg btn-base-1 ls-l" style="top: 70%; left: 50%;" data-ls="offsetxin: 0; offsetyin: 250; durationin: 1000; delayin: 1000; offsetxout: 0; offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                    Learn more
                </a>
            </div>
        </div>
    </section> 

   <section class="slice sct-color-2 bb">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <!-- Section title -->
                    <div class="section-title-wrapper style-2 v1">
                        <h3 class="section-title left">
                            <span class="text-caps">Why excelsis Training Limited</span>
                        </h3>
                    </div>

                    <p>With a combined experience of over 20 years, we offer a range of training programmes to suit your client’s needs. Each course is a combination of innovative training, personal development and work experience tailored to individual circumstances. We invest time and resources in getting to know the clients, making sure they get the right skills and abilities to fit in perfectly with prospective employer needs. We equip clients through a range of supportive activities.</p>

                </div>

                <div class="col-md-5">
                    <!-- Section title -->
                    <div class="section-title-wrapper style-2 v1">
                        <h3 class="section-title left">
                            <span class="text-caps">Our services</span>
                        </h3>
                    </div>

                    <!-- Collapse example -->
                    <div class="collapse-wrapper panel-group panel-spaced" id="accordionFour">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionFour" href="#collapse4a">
                                    HR Learning and Development
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4a" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionFour" href="#collapse4b">
                                    Education and Training
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4b" class="panel-collapse collapse in">
                                <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
    </section>

                    <!-- PARALLAX - STYLE 2 MASK 4 -->
                    <section class="parallax-section parallax-section-2" style="background-image: url('images/backgrounds/parallax-bg-2.jpg');">
    	<div class="mask mask-4 v1"></div>
        <div class="parallax-content">
            <h1 class="parallax-title c-white">Brand new concept</h1>
            <p class="c-white">
            As you grow in this business, you learn how to do more with less.
            </p>
        </div>
    </section>
                    <!-- SECTION -->
                    <section class="slice sct-color-1 bb">
                        <div class="container">
                            <!-- SECTION TITLE-->
                            <div class="section-title-wrapper style-1 v1">
                                <h3 class="section-title center">
                                    <span>Our Popular courses</span>
                                </h3>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-1.jpg">                                    
                                        </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Future Web</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-2.jpg">                                    </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Mobile &amp; IoT</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>

                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-3.jpg">                                    </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Strategic marketing</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>

                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-4.jpg">                                    </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Web development</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- CALL TO ACTION - SECTION -->
                    <section class="bg-base-1">
        <div class="cta-wrapper">
            <div class="container">
                <div class="row v-align-middle">
                    <div class="col-sm-9">
                        <h1 class="text-normal">
                            <strong>Visio.</strong> Well done is better than well said. Wanna know why?
                        </h1>
                    </div>
                    <div class="col-sm-3">
                        <div class="cta-button">
                            <a href="#" class="btn-a btn-lg btn-1 btn-1a fa-long-arrow-right text-center">
                                Find out more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-20 pb-20 sct-color-1">
                        <div class="container">
                            <div class="section-title-wrapper style-2 v1">
                                <h3 class="section-title left">
                                    <span class="text-caps">Our affiliates</span>
                                </h3>
                            </div>

                            <div class="owl-carousel" data-owl-loop="false" data-owl-items="6" data-owl-nav="false" data-owl-dots="false" data-owl-item-margin="20">
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-1.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-2.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-3.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-4.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-5.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-6.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-7.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-8.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-8.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-10.png" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- FOOTER -->
    <footer class="footer style-2">
        <div class="container">
            <div class="row">                
                <div class="col-md-4">
                    <div class="col">
                       <h4>Links</h4>
                       <ul>
                            <li><a href="" title="Help center">Help center</a></li>
                            <li><a href="" title="Discussions">Discussions</a></li>
                            <li><a href="" title="Contact support">Contact support</a></li>
                            <li><a href="" title="Blog">Blog</a></li>
                            <li><a href="" title="Jobs">FAQ</a></li>
                        </ul>
                     </div>
                </div>
                
                <div class="col-md-4">
                    <div class="col">
                        <h4>Our Address</h4>
                        <ul>
                            <li><a href="" title="About">About</a></li>
                            <li><a href="" title="License informations">License informations</a></li>
                            <li><a href="" title="Terms">Terms</a></li>
                            <li><a href="" title="Jobs">Careers</a></li>
                            <li><a href="" title="Jobs">Contact</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="col">
                        <h4>Community</h4>
                        <ul>
                            <li><a href="" title="About">About</a></li>
                            <li><a href="" title="License informations">License informations</a></li>
                            <li><a href="" title="Terms">Terms</a></li>
                            <li><a href="" title="Jobs">Jobs</a></li>
                            <li><a href="" title="Jobs">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright style-1">
        <div class="container">   
                <div class="div-table v-middle">
                    <div class="cell">
                        All rights reserved. Copyright &copy; 2015 <span class="company-rights">Devisio</span>
                    </div>
                    <div class="cell">
                        <div class="social-media style-2 v4 text-right">
                            <a href="#" class="facebook">
                                <i class="fa fa-facebook "></i>
                            </a>
                            <a href="#" class="google-plus">
                                <i class="fa fa-google-plus "></i>
                            </a>
                            <a href="#" class="pinterest">
                                <i class="fa fa-pinterest "></i>
                            </a>
                            <a href="#" class="twitter">
                                <i class="fa fa-twitter "></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>            </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: body-wrap -->

    <!-- SCRIPTS -->

    <!-- Required JSs -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <!-- Essential JSs -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/bootstrap/js/tooltip.js"></script>
    <script src="js/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
    <script src="js/bootstrap-extensions/bootstrap.slide-menu.js"></script>
    <script src="js/bootstrap-extensions/bootstrap-validator.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="js/jquery.easing.js"></script>
    <script src="js/classie.js"></script>

    <!-- Assets - Required -->
    <script src="assets/parallax/parallax.min.js"></script>
    <script src="assets/page-scroller/jquery.ui.totop.min.js"></script>
    <script src="assets/waypoints/waypoints.min.js"></script>

    <!-- Assets - Optional (keep what you need) -->
    <!-- Sidebar transitions -->
    <script src="js/sidebar-transitions/sidebar-transitions.js"></script>
    <!-- Smooth scroll -->
    <script src="js/jquery.smoothscroll.js"></script>
    <!-- Media gallery view -->
    <script src="assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <!-- Animated counter -->
    <script src="assets/milestone-counter/jquery.countTo.js"></script>
    <!-- Animated pie charts -->
    <script src="assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
    <!-- Owl carousel - Touch enabled carousel -->
    <script src="assets/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Cross-browser responsivity scripts -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analitycs JS -->
    <script type="text/javascript" src="js/dvs.ga.js"></script>




    <!-- Layer slider -->
    <script src="assets/layerslider/js/greensock.js" type="text/javascript"></script>
    <script src="assets/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
    <script src="assets/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>

    <!-- Initializing scripts -->
    <script>
        // Layer Slider
        jQuery("#layerslider").layerSlider({
            pauseOnHover: true,
            autoPlayVideos: false,
            skinsPath: 'assets/layerslider/skins/',
            responsive: false,
            responsiveUnder: 1280,
            layersContainer: 1280,
            skin: 'borderlessdark3d',
            hoverPrevNext: true,
        });
    </script>

    <!-- App JS -->
    <script src="js/dvs.app.js"></script>

    </body>
    </html> 