    <!-- SLIDER -->
    <section id="slider-wrapper" class="layer-slider-wrapper layer-slider-dynamic">
        <div id="layerslider" style="width:100%;">  
            <!-- Slide 1 -->

            <!-- Slide 2 -->
            <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                <!-- slide background -->
                <img src="images/backgrounds/full-bg-4.jpg" class="ls-bg" alt="Slide background"/>
                
                 <!-- Center title -->
                <h3 class="ls-l title-lg text-uppercase text-center strong" style="width:100%; top:35%; left:50%;" data-ls="offsetxin:0;offsetyin:250;durationin:1000;delayin:500;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                    Committed to Transformation.
                </h3>

                <!-- Center paragraph -->
                <p class="ls-l text-standard text-center" style="width: 900px; top: 50%; left: 50%;" data-ls="offsetxin:-250;offsetyin:-;durationin:1000;delayin:1000;offsetxout:0;offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                    At Excelsis we are committed to making a difference in your world of performance, productivity and customer satisfaction.
                </p>

                <a href="about-1.html" class="btn btn-lg btn-base-1 ls-l" style="top: 70%; left: 50%;" data-ls="offsetxin: 0; offsetyin: 250; durationin: 1000; delayin: 1000; offsetxout: 0; offsetyout:-8;easingout:easeInOutQuart;scalexout:1.2;scaleyout:1.2;">
                    Learn more
                </a>
            </div>
        </div>
    </section> 

   <section class="slice sct-color-2 bb">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <!-- Section title -->
                    <div class="section-title-wrapper style-2 v1">
                        <h3 class="section-title left">
                            <span class="text-caps">Why excelsis Training Limited</span>
                        </h3>
                    </div>

                    <p>With a combined experience of over 20 years, we offer a range of training programmes to suit your client’s needs. Each course is a combination of innovative training, personal development and work experience tailored to individual circumstances. We invest time and resources in getting to know the clients, making sure they get the right skills and abilities to fit in perfectly with prospective employer needs. We equip clients through a range of supportive activities.</p>

                </div>

                <div class="col-md-5">
                    <!-- Section title -->
                    <div class="section-title-wrapper style-2 v1">
                        <h3 class="section-title left">
                            <span class="text-caps">Our services</span>
                        </h3>
                    </div>

                    <!-- Collapse example -->
                    <div class="collapse-wrapper panel-group panel-spaced" id="accordionFour">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionFour" href="#collapse4a">
                                    HR Learning and Development
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4a" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionFour" href="#collapse4b">
                                    Education and Training
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4b" class="panel-collapse collapse in">
                                <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
    </section>

                    <!-- PARALLAX - STYLE 2 MASK 4 -->
                    <section class="parallax-section parallax-section-2" style="background-image: url('images/backgrounds/parallax-bg-2.jpg');">
        <div class="mask mask-4 v1"></div>
        <div class="parallax-content">
            <h1 class="parallax-title c-white">Brand new concept</h1>
            <p class="c-white">
            As you grow in this business, you learn how to do more with less.
            </p>
        </div>
    </section>
                    <!-- SECTION -->
                    <section class="slice sct-color-1 bb">
                        <div class="container">
                            <!-- SECTION TITLE-->
                            <div class="section-title-wrapper style-1 v1">
                                <h3 class="section-title center">
                                    <span>Our Popular courses</span>
                                </h3>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-1.jpg">                                    
                                        </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Future Web</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-2.jpg">                                    </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Mobile &amp; IoT</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>

                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-3.jpg">                                    </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Strategic marketing</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>

                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block style-2 bg-base-1">
                                        <div class="block-image">
                                            <img src="images/prv/event-img-4.jpg">                                    </div>
                                        <div class="block-body">
                                            <h3 class="block-title">Web development</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
                                            <hr>
                                            <div class="float-wrapper mt-10">
                                                <a href="#" class="btn btn-sm btn-b-base-5 pull-left">Read more</a>
                                                <a href="#" class="btn btn-sm btn-base-5 btn-icon fa-calendar pull-right"><span>Join now</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- CALL TO ACTION - SECTION -->
                    <section class="bg-base-1">
        <div class="cta-wrapper">
            <div class="container">
                <div class="row v-align-middle">
                    <div class="col-sm-9">
                        <h1 class="text-normal">
                            <strong>Visio.</strong> Well done is better than well said. Wanna know why?
                        </h1>
                    </div>
                    <div class="col-sm-3">
                        <div class="cta-button">
                            <a href="#" class="btn-a btn-lg btn-1 btn-1a fa-long-arrow-right text-center">
                                Find out more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-20 pb-20 sct-color-1">
                        <div class="container">
                            <div class="section-title-wrapper style-2 v1">
                                <h3 class="section-title left">
                                    <span class="text-caps">Our affiliates</span>
                                </h3>
                            </div>

                            <div class="owl-carousel" data-owl-loop="false" data-owl-items="6" data-owl-nav="false" data-owl-dots="false" data-owl-item-margin="20">
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-1.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-2.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-3.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-4.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-5.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-6.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-7.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-8.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-8.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-logo style-3">
                                        <img src="images/prv/clients/client-10.png" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
