<%# data.contentful.service.each do |id, service| %>
 <%#= service['name'] %>
<%# end %>
        <div class="banner">
            <div class='banner-inner'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <h1>Education
                                for Better Future</h1>
                            <p>
                                Lorem Ipsum is simply dummy text of the 
                                printing and typesetting industry. 
                            </p>
                            <a href='#' class="btn btn-white btn-lg">View courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="images/cap.png" class="img-responsive auto-img" alt="">
                    </div>
                    <div class="col-sm-7">
                        <h2 class="section-title"><strong>Welcome</strong> at our College</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                        </p>
                        <p>
                            But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <a href="#" class="btn btn-gray">visit our campus</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="numbers">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-bar-chart"></i>
                        <h1 class="counter">145</h1>
                        <p>Courses</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-graduation-cap"></i>
                        <h1 class="counter">147000</h1>
                        <p>Students</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-list-alt"></i>
                        <h1 class="counter">12</h1>
                        <p>Libraries</p>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <i class="fa fa-tags"></i>
                        <h1 class="counter">21</h1>
                        <p>Events</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="popular-sectors">
            <div class="container">
                <h2 class="section-title"><strong>Popular</strong> sectors</h2>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-money"></i>
                        <h3>Finance</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-medkit"></i>
                        <h3>Medical</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-laptop"></i>
                        <h3>Technologies</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-leaf"></i>
                        <h3>Agriculture</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-user"></i>
                        <h3>Management</h3>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <i class="fa fa-signal"></i>
                        <h3>Economics</h3>
                    </div>
                </div>
            </div>
        </div>

		<%= partial "/layouts/partials/partner" %>


        <div class="course-reserve">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="images/open.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-8">
                        <h2 class="section-title"><strong>Course</strong> Reservation</h2>

                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Select Course">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Reservation Date">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="7 Students">
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <button type="button" class="btn btn-blue btn-lg">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
		<%= partial "layouts/partials/skill_and_event" %>
        <%= partial "layouts/partials/testimonial" %>
        <div class="get-in-touch">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="section-title"><strong>Get</strong> in touch</h2>
                        <p class="lead">Contact us  to find our more about our courses</p>
                        <div style="height: 30px"></div>
                        <form method="post" action="thankyou" netlify>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email" name="email" required>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" placeholder="Message" rows="5" required></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-left">
                                    <button type="submit" class="btn btn-blue btn-lg">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="map">
                            <div id="map" style="height: 300px; width: 100%;"></div>
                        </div>
                        <div style="height: 30px"></div>
                        <div class="row">
                            <div class="col-sm-8">
                                <h5>Contact us</h5>
                                <p><i class="fa fa-map-marker"></i> Address : Street Name City Name Country</p>
                                <p><i class="fa fa-phone-square"></i> Phone: 12-1234-5678</p>
                                <p><i class="fa fa-envelope"></i> Email: info@website.com</p>
                            </div>
                            <div class="col-sm-4">
                                <h5>Opening hours</h5>
                                <p>Monday to Friday<br>9.00 AM to 6.00 PM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>