                <section class="slice sct-color-1 bb" style="padding-bottom: 0;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="block block-image">
                                    <img src="images/prv/other/img-services-1.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <h3 class="heading">We love to make things look simpler</h3>
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie 
                                    lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum 
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla 
                                    ui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, 
                                    lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                    </p>
                                </div>
                                
                                <span class="clearfix"></span>

                                <div class="mt-20">
                                    <h3 class="heading">Great developement and support team</h3>
                                    <p>
                                    Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, 
                                    consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. 
                                    Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="slice sct-color-2 sht-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-android"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">Android Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-apple"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">iOS Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-windows"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">Windows Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row-space"></div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-html5"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">HTML Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-css3"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">CSS3 Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-diamond"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">Based on Bootstrap</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 block no-space arrow-right bg-base-1 no-margin">
                                <div class="block-body">
                                    <div class="img-icon">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    <h1>Never stop learning</h1>
                                    <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur curabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 block no-space arrow-right bg-base-2 no-margin">
                                <div class="block-body">
                                    <div class="img-icon">
                                        <i class="fa fa-bicycle"></i>
                                    </div>
                                    <h1>Keep moving forward</h1>
                                    <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur urabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 block no-space bg-base-3 no-margin">
                                <div class="block-body">
                                    <div class="img-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <h1>Make something better</h1>
                                    <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur urabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="slice sct-color-1 bb">
                    <div class="container">
                        <div class="section-title-wrapper style-1 v1">
                            <h3 class="section-title center">
                                <span>What they say</span>
                                <span class="section-subtitle">Cum sociis natoque penatibus et magnis</span>
                            </h3>
                        </div>

                         <div id="owlDemo-1" class="owl-carousel" data-owl-loop="false" data-owl-items="2" data-owl-nav="true" data-owl-dots="false" data-owl-item-margin="15">
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-5.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>John Doe - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-2.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>Christina Jane - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-1.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>John Doe - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-4.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>Christina Jane - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>  

                <!-- CALL TO ACTION -->
                <section class="bg-base-5">
   <div class="cta-wrapper">
        <div class="container">
            <div class="row v-align-middle">
                <div class="col-sm-9">
                    <h1 class="text-normal">
                        <strong>Visio.</strong> Well done is better than well said. Wanna know why?
                    </h1>
                </div>
                <div class="col-sm-3">
                    <div class="cta-button">
                        <button class="btn-a btn-lg btn-1 btn-1a btn-b-black-a fa-long-arrow-right">Find out more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>