    <div class="page-head">
            <div class="container">
                <h2>Our Services</h2>
            </div>
    </div>

    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-5"><img src="images/cap.png" class="img-responsive auto-img" alt=""></div>
                <div class="col-md-7">
                     <h2 class="section-title"><strong><%= data.contentful['misc']['61JOExFRE4kq0OeYQYc8o0']['name'].split.first %></strong> <%= data.contentful['misc']['61JOExFRE4kq0OeYQYc8o0']['name'].split(' ')[1..-1].join(' ') %></h2>
                     <p>
                         <%= data.contentful['misc']['61JOExFRE4kq0OeYQYc8o0']['description'] %>
                     </p>
                </div>
            </div>
        </div>
    </div>

    <%= partial "/layouts/partials/reservation" %>