<!DOCTYPE html>
<html>  
<head>
 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<title>Visio - Responsive Website Template</title>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" type="text/css">

<!-- ANIMATE -->
<link rel="stylesheet" href="assets/animate/animate.min.css" type="text/css">

<!-- WEB FONTS -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<!-- ICON FONTS -->
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"> 
<link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css" type="text/css"> 

<!-- GLOBAL STYLE -->
<link id="stylesheetGlobal" type="text/css" href="css/global-style-blue.min.css" rel="stylesheet" media="screen">
		<!-- CUSTOM STYLE -- Remove if not necessary -->
<link type="text/css" href="css/custom-style.css" rel="stylesheet">



<!-- ASSETS -->
<link rel="stylesheet" href="assets/owl-carousel/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="assets/owl-carousel/css/owl.theme.css" type="text/css">
<link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen"> 

<!-- FAVICON -->
<link href="images/favicon.png" rel="icon" type="image/png">
</head>
<body>


<!-- MAIN WRAPPER -->
<div class="body-wrap">

    <div id="st-container" class="st-container">
        <nav class="st-menu st-effect-1" id="menu-1">
            <h3 class="st-menu-title">Menu</h3>
            <div class="nav">
                <ul>
                    <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="team.html"><i class="fa fa-camera"></i>Our People</a></li>
                    <li><a href="hr-learning-development.html"><i class="fa fa-calendar"></i>HR Learning & Development</a></li>
                    <li><a href="education-training.html"><i class="fa fa-shopping-cart"></i>Education & Training</a></li>
                    <li><a href="contact-1.html"><i class="fa fa-shopping-cart"></i>Contact us</a></li>
                </ul>
            </div>      
        </nav>
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- HEADER -->
                    <div class="header" id="header"> 

        <!-- NAVBAR -->
        <nav class="navbar navbar-main navbar-shadow" role="navigation" id="slide-nav">     
            <div class="container relative">
                <div class="navbar-header">
                    <!-- LOGO -->
                    <a class="navbar-logo" href="index.html">
                        <img id="logoOne" src="images/logo/logo-1-a.png" class="hide">
                        <img id="logoTwo" src="images/logo/logo-1-b.png">
                    </a>

                    <!-- NAVBAR TOGGLE -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                                    <!-- SLIDEBAR TOGGLE -->
                    <button type="button" class="navbar-icon-btn btn-st-trigger" data-effect="st-effect-1">
                        <i class="fa fa-dedent"></i>
                    </button>
                </div>

                <div id="slidemenu">
                    <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                                 <!-- Navbar links -->
                        <li class="">
                            <a href="index.html">
                               <span>Home</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="team.html">
                               <span>Our People</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="hr-learning-development.html">
                               <span>HR Learning & Development</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="education-training.html">
                               <span>Education & Training</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="contact-1.html">
                               <span>Contact us</span>
                            </a>
                        </li>

                        <li class="dropdown-icon hidden-xs hidden-sm">
                            <a  href="#" class="btn-st-trigger ttip" data-effect="st-effect-1">
                                <span><i class="fa fa-bars"></i></span>
                            </a>
                        </li>                   
                    </ul>
                </div>
            </div>
        </nav>
</div>
                <!-- BREADCRUMB -->
                <div class="page-title style-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Services</h2>
                            </div>
                            <div class="col-md-6">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Pages</a></li>
                                    <li class="active">Services</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="slice sct-color-1 bb" style="padding-bottom: 0;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="block block-image">
                                    <img src="images/prv/other/img-services-1.png" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <h3 class="heading">We love to make things look simpler</h3>
                                    <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie 
                                    lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum 
                                    sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla 
                                    ui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, 
                                    lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                    </p>
                                </div>
                                
                                <span class="clearfix"></span>

                                <div class="mt-20">
                                    <h3 class="heading">Great developement and support team</h3>
                                    <p>
                                    Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, 
                                    consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. 
                                    Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="slice sct-color-2 sht-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-android"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">Android Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-apple"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">iOS Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-windows"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">Windows Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row-space"></div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-html5"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">HTML Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-css3"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">CSS3 Development</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="block style-5 v2">
                                    <div class="block-icon">
                                        <i class="fa fa-diamond"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">Based on Bootstrap</h3>
                                        <p>
                                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas vestibulum tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 block no-space arrow-right bg-base-1 no-margin">
                                <div class="block-body">
                                    <div class="img-icon">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    <h1>Never stop learning</h1>
                                    <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur curabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 block no-space arrow-right bg-base-2 no-margin">
                                <div class="block-body">
                                    <div class="img-icon">
                                        <i class="fa fa-bicycle"></i>
                                    </div>
                                    <h1>Keep moving forward</h1>
                                    <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur urabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 block no-space bg-base-3 no-margin">
                                <div class="block-body">
                                    <div class="img-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <h1>Make something better</h1>
                                    <p class="text-center">
                                    Lorem ipsum dolor sit amet, consectetur urabitur pellentesque neque eget diam posuere adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc vehicula lacinia. Proin adipiscing porta tellus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="slice sct-color-1 bb">
                    <div class="container">
                        <div class="section-title-wrapper style-1 v1">
                            <h3 class="section-title center">
                                <span>What they say</span>
                                <span class="section-subtitle">Cum sociis natoque penatibus et magnis</span>
                            </h3>
                        </div>

                         <div id="owlDemo-1" class="owl-carousel" data-owl-loop="false" data-owl-items="2" data-owl-nav="true" data-owl-dots="false" data-owl-item-margin="15">
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-5.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>John Doe - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-2.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>Christina Jane - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-1.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>John Doe - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial style-1">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="images/prv/team/img-4.jpg">                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="style-2">
                                                <h5 class="blockquote-text">
                                                "Lorem ipsum dolor sit amet, consectetur adipiscing duis mollis, est non commodo luctus elit posuere erat a ante. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis."
                                                </h5>
                                                <small>
                                                    <em>Christina Jane - Devisio Inc</em>
                                                </small>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>  

                <!-- CALL TO ACTION -->
                <section class="bg-base-5">
   <div class="cta-wrapper">
        <div class="container">
            <div class="row v-align-middle">
                <div class="col-sm-9">
                    <h1 class="text-normal">
                        <strong>Visio.</strong> Well done is better than well said. Wanna know why?
                    </h1>
                </div>
                <div class="col-sm-3">
                    <div class="cta-button">
                        <button class="btn-a btn-lg btn-1 btn-1a btn-b-black-a fa-long-arrow-right">Find out more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                <!-- FOOTER -->
                <footer class="footer style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <img src="images/logo/logo-1-a.png">

                    <p class="no-margin">
                    Easy to work with, easy to customize and unlimited ideas that can be implemented in your project are just a few attributes that recommend Visio to be one of the most complete template.
                    </p>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="col">
                   <h4>Help and Support</h4>
                   <ul>
                        <li><a href="" title="Help center">Help center</a></li>
                        <li><a href="" title="Discussions">Discussions</a></li>
                        <li><a href="" title="Contact support">Contact support</a></li>
                        <li><a href="" title="Blog">Blog</a></li>
                        <li><a href="" title="Jobs">FAQ</a></li>
                    </ul>
                 </div>
            </div>
            
            <div class="col-md-2">
                <div class="col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="" title="About">About</a></li>
                        <li><a href="" title="License informations">License informations</a></li>
                        <li><a href="" title="Terms">Terms</a></li>
                        <li><a href="" title="Jobs">Careers</a></li>
                        <li><a href="" title="Jobs">Contact</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="col">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="" title="About">About</a></li>
                        <li><a href="" title="License informations">License informations</a></li>
                        <li><a href="" title="Terms">Terms</a></li>
                        <li><a href="" title="Jobs">Jobs</a></li>
                        <li><a href="" title="Jobs">Jobs</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>Stay updated</h4>
                    <p>Sign up if you would like to receive the newest updates and other free goods.</p>
                    <form class="form-horizontal form-dark">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your email address">
                            <span class="input-group-btn">
                                <button class="btn btn-base-1" type="button">Go</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright style-1">
    <div class="container">   
            <div class="div-table v-middle">
                <div class="cell">
                    All rights reserved. Copyright &copy; 2015 <span class="company-rights">Devisio</span>
                </div>
                <div class="cell">
                    <div class="social-media style-2 v4 text-right">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook "></i>
                        </a>
                        <a href="#" class="google-plus">
                            <i class="fa fa-google-plus "></i>
                        </a>
                        <a href="#" class="pinterest">
                            <i class="fa fa-pinterest "></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter "></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>            </div>
        </div>
    </div><!-- END: st-pusher -->
</div><!-- END: body-wrap -->

    <!-- SCRIPTS -->
    
<!-- Required JSs -->
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.min.js"></script>

<!-- Essential JSs -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/bootstrap/js/tooltip.js"></script>
<script src="js/bootstrap-extensions/bootstrap-dropdownhover.js"></script>
<script src="js/bootstrap-extensions/bootstrap.slide-menu.js"></script>
<script src="js/bootstrap-extensions/bootstrap-validator.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="js/jquery.easing.js"></script>
<script src="js/classie.js"></script>

<!-- Assets - Required -->
<script src="assets/parallax/parallax.min.js"></script>
<script src="assets/page-scroller/jquery.ui.totop.min.js"></script>
<script src="assets/waypoints/waypoints.min.js"></script>

<!-- Assets - Optional (keep what you need) -->
<!-- Sidebar transitions -->
<script src="js/sidebar-transitions/sidebar-transitions.js"></script>
<!-- Smooth scroll -->
<script src="js/jquery.smoothscroll.js"></script>
<!-- Media gallery view -->
<script src="assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
<!-- Animated counter -->
<script src="assets/milestone-counter/jquery.countTo.js"></script>
<!-- Animated pie charts -->
<script src="assets/easy-pie-chart/js/jquery.easypiechart.js"></script>
<!-- Owl carousel - Touch enabled carousel -->
<script src="assets/owl-carousel/js/owl.carousel.min.js"></script>

<!-- Cross-browser responsivity scripts -->
<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->

<!-- Google Analitycs JS -->
<script type="text/javascript" src="js/dvs.ga.js"></script>




    <!-- App JS -->
    <script src="js/dvs.app.js"></script>

</body>
</html> 