<div class="container">
	<div class="row">
		<h2>Thank you for subscribing to <strong><em>The Excel</em></strong>, the Excelsis monthly newsletter.</h2>
			<p><strong><em>The Link</em></strong> will include the following sections:</p>
			<ul>
			<li>Key vacation rental industry topics</li>
			<li>Featured education eBooks and white papers such as <a href="http://content.leisurelink.com/7-deadly-sins-ebook/" target="_blank">7 Deadly Sins to Vacation Rental Distribution</a></li>
			<li>LeisureLink partner updates</li>
			<li>LeisureLink feature enhancements</li>
			</ul>
			<p>Your privacy is very important to us and your information will never be sold or shared with anyone.</p>
	</div>
</div>